USER_API_BASE=http://user_api:8000
TODO_API_BASE=http://todo_api:8000
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=todo_user
RABBITMQ_PASSWORD=passwordHARD
RABBITMQ_TASK_QUEUE=todo.task.rpc
RABBITMQ_URL=amqp://todo_user:passwordHARD@rabbitmq:5672/
