DATABASE_URL=postgresql://postgres:postgres@user_db:5432/app_db
ACCESS_SECRET_KEY=access_secret123
REFRESH_SECRET_KEY=REFRESH_SECRET_KEY
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_MINUTES=10080
REDIS_PASSWORD=password
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=todo_user
RABBITMQ_PASSWORD=passwordHARD
RABBITMQ_ROLE_QUEUE=users.role.rpc
RABBITMQ_URL=amqp://todo_user:passwordHARD@rabbitmq:5672/
